<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block titulo %} Inicio {% endblock %} - Master en PHP de Víctor Robles
        </title>
    </head>
    <body>
        <div id="header">
            {% block cabecera %}
                <h1>Cabecera de la plantilla</h1>
            {%endblock%}
            <hr>
        </div>
        
        <section id="content">
            {% block contenido %}
                <p>Contenido por defecto</p> 
            {% endblock %}
        </section>
        
        <footer>
              <hr>
            victorroblesweb.es
        </footer>
    </body>
</html>
